{% extends 'base.html' %}

{% block title %}AI Marketing Assistant - Campaign - Add Campaign{% endblock %}

{% block content %}
    {% load custom_filters %}

    <div class="container mx-auto px-4 bg-white rounded-lg p-6 shadow-md">
        <h1 class="text-4xl mb-8 text-black">Add Campaign for {{ customer.name }}</h1>

        <form method="post" class="space-y-4">
            {% csrf_token %}

            <!-- TODO: Fix the form not filling the container without losing the field types (e.g. option dropdown) -->
            <div class="space-y-2 bg-gray-100 p-4 rounded-lg">
                {{ form.as_p |add_tailwind_classes:"text-base text-gray-700 leading-5" }}
            </div>

            <div>
                <button type="submit" class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 rounded">
                    Add Campaign
                </button>
            </div>
        </form>
    </div>
{% endblock %}
